<div>{{title}}</div><br>
  <div>CALORIES PER SERVING: {{calories}}</div><br>
    <div>INGREDIENTS: {{ingredients}}</div><br>
      <div>NUMBER OF SERVINGS: {{portion_size}}</div><br>
      <div>TOTAL CALORIES CONSUMED: {{totalCal}}</div>
